body {
    font-family: arial, verdana;
    font-size: 100%;
    line-height: 1.5;
}

header, footer {
    background-color: silver;
    min-height: 150px;
}

main {
    background-color: cyan;
    height: 600px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

.logo {
    /* background-color: yellow; */
    background-image: url("../assets/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    text-indent: -9999px;
    width: 150px;
    height: 150px;
}

/* .menu {
    display: flex;
} */

.menu li {
    display: block;
    width: 200px;
    float: left;
    background: orange;
    text-align: center;
    line-height: 2;
    color: black;
    text-decoration: none;
    transition: 0.5s;
}

.menu li:hover {
    background: black;
    color:orange;
    transition: 0.5s;
}

.menu li a {
    text-decoration: inherit;
    color: inherit;
    display: inherit;
}