h2 {
    color: red;
    text-align: center;
}

.subtitulo {
    background-color: yellow;
    text-transform: uppercase;
}

.borda {
    border: 4px solid red;
}

#titulo {
    background-color: purple;
    color: cyan;
    text-align: center;
    border: 4px solid yellow;
}

h3 {
    color: green;
}

.teste {
    color: blue;
}

#teste {
    color: red;
}

h3#teste {
    color: pink;
}

h3.teste#teste {
    color: orange;
}

body h3.teste#teste {
    color: brown;
}

html body h3.teste#teste {
    color: magenta;
}