article h1 + p + p {
    color: green;
}

article h1 ~ p {
    color: red;
}

section > h1 {
    background: orange;
}

article p:not(.destaque) {
    background: cyan;
}

section ul li:first-child {
    border-top: 5px solid;
}

section ul li:last-child {
    border-bottom: 5px solid;
}

article p:first-of-type {
    border: 5px solid red;
}

article p:first-of-type::first-letter {
    font-size: 2.5em;
}

article p:last-of-type::first-line {
    font-style: italic;
}

section ul a::before {
    content:"[ ";
}

section ul a::after {
    content: " ]";
}

figure figcaption {
    border-radius: 20px 0;
    box-shadow: 10px 10px 25px black;
    text-shadow: 10px 10px 25px red, -5px -5px 25px yellow;
    transform: rotate(0deg);
    transition: all 0.2s ease;
}

figure figcaption:hover {
    transform: rotate(360deg);
}